.WhyUs {
    padding: 80px 20px;
    background-color: rgb(17 24 39);
    text-align: center;
}

.Programs h3 {
    text-align: center;
}

.block {
    border: 1px solid rgb(52, 67, 88);
    border-radius: 10px;
    width: 350px;
    height: 200px;
    text-align: center;
    padding: 20px 10px;
    background-color: rgb(31 41 55);
}

.title {
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.descr {
    font-family: 'Montserrat', sans-serif;
    color: rgb(156 163 175);
}

.wrapper_blocks {
    margin-top: 50px;
}

@media (max-width: 769px) {
    .title {
        font-size: 18px;
    }
    .descr {
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .WhyUs {
        padding: 20px 10px;
    }

    .wrapper_blocks {
        margin-top: 30px;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .block {
        width: 260px;
        height: max-content;
        padding: 15px 5px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .block {
        width: 290px;
        padding: 25px 5px;
    }
    .title {
        font-size: 22px;
    }
    .descr {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .block {
        width: 290px;
        padding: 25px 5px;
        height: 330px;
    }
    .title {
        font-size: 22px;
    }
    .descr {
        font-size: 20px;
    }
}
